body{background:#ddd;}
.flex_main
{
  display:flex;
flex-direction:row;
}
.profile_child{
  width:30%;
  background:#fff;
  padding:2%;
  margin:2%;
}
@media only screen and (min_width:320px) and (max_width:480px)
.flex_main{
   display:flex;
   flex-direction:column;
}
.content_child{
  width:70%;
  background:#fff;
  padding:2%;
  margin:2%;


.profile_pic{
  width:200px:
  height:auto;
}
.profile_circle{
  border-radius:50%;
  border:1px solid #ddd;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/*small scale devices*/
@media only screen and (min-width:320px) and (max_width:480px)
}
/*large scale devices*/
@media only screen and (min-width:481px) and (max-width:768px)
}
/*tablets*/
@media only screen and (min-width:768px) and (max-width:1024px)
}
